.footer {
    background: rgb(255, 20, 147);
    padding: 2% 0;
    .content {
        text-align: center;
        a {
            color: #394d55;
            font-family: "Karla", sans-serif;
            text-decoration: none;
            font-style: italic;
            font-size: 18px;
            &:hover {
                color: #3E7D98;
            }
        }
    }
}