.header {
    padding: 16px 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            a {
                display: block;
                img {
                    max-width: 200px;
                }
            }
        }
        .nav {
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    padding: 8px 16px;
                    a {
                        text-decoration: none;
                        font-family: 'Karla', sans-serif;
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #394d55;
                        transition: 0.3s;
                        &:hover {
                            color: #3E7D98;
                        }
                    }
                    
                }
            }
        }
    }
}