.homepage {
    .slider {
        background: rgb(255, 20, 147);
        padding: 5% 0;
        .container {
            .row {
                .content {
                    h2 {
                        font-family: "Lora", serif;
                        font-size: 40px;
                        letter-spacing: 2px;
                        line-height: 60px;
                        color: #ffffff;
                        text-transform: uppercase;
                        padding-bottom: 5%;
                    }
                    .text {
                        p {
                            font-family: "Courier Prime", monospace;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 28px;
                            word-spacing: 1px;
                            color: #fff;
                            margin: 0;
                        }
                    }
                }
                .follow {
                    margin: 5% 0;
                    a {
                        padding: 0 10px;
                    }
                }
                .content-image {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .business {
        padding: 5% 0;
        .container {
            .title {
                text-align: center;
                padding-bottom: 5%;
                h2 {
                    text-transform: capitalize;
                    color: #ff1493;
                    font-weight: bolder;
                    margin-bottom: 20px;
                    font-size: 40px;
                    font-family: "Lora", Georgia, sans-serif;
                }
                p {
                    padding: 0 20%;
                    text-align: center;
                    font-family: "Courier New", Courier, monospace;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .business-card {
                .card-img {
                    position: relative;
                    overflow: hidden;
                    a {
                        img {
                            width: 540px;
                            height: 350px;
                            object-fit: cover;
                            max-width: 100%;
                            vertical-align: middle;
                            transform: scale(1);
                            transition: 0.3s;
                        }
                    }
                }
                .card-body {
                    padding: 20px 0;
                    background: #f8f8f8;
                    .card-title {
                        font-size: 24px;
                        font-weight: 600;
                        color: #394d55;
                        margin-bottom: 10px;
                    }
                    .card-text {
                        font-size: 16px;
                        font-family: "Courier New", Courier, monospace;
                    }
                }
                &:hover {
                    .card-img {
                        a {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    .service {
        background: rgb(255, 20, 147);
        padding: 5% 0;
        .title {
            h2 {
                color: #ffffff;
            }
            p {
                padding: 0 15%;
                color: #ffffff;
            }
        }
        .service-card {
            .card-img {
                position: relative;
                overflow: hidden;
                a {
                    img {
                        width: 348px;
                        height: 200px;
                        object-fit: cover;
                        transform: scale(1);
                        transition: 0.3s;
                    }
                }
            }
            &:hover {
                .card-img {
                    a {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
    .learning {
        background: #ffffff;
        .title {
            h2 {
                color: #ff1493;
            }
            p {
                padding: 0 15%;
                color: #394d55;
            }
        }
    }
}
