.team {
    &-title {
        h1 {
            font-size: 40px;
            text-align: center;
            font-family: "Lora", Georgia, sans-serif;
            color: #394d55;
            padding: 20px 0;
        }
    }
    &-member {
        .container {
            .row {
                .members {
                    &-img {
                        figure {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    &-infor {
                        text-align: center;
                        padding: 22px 0;
                        .name, .position {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: bold;
                            color: #394d55;
                        }
                        .position {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}