//Component
@import "./components/header.scss";
@import "./components/footer.scss";





//Page
@import './pages/home.scss';
@import './pages/team.scss';



//homepage 
.title {
    text-align: center;  
    padding-bottom: 5%;         
    h2 {
        text-transform: capitalize;
        color: #ff1493;
        font-weight: bolder;
        margin-bottom: 20px;
        font-size: 40px;
        font-family:"Lora",Georgia, sans-serif;
    }
    p {
        padding: 0 20%;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        font-size: 16px;
        font-weight: bold;
    }
}
.card-body {
    padding: 20px 0;
    background: #f8f8f8;
    .card-title {
        font-size: 24px;
        font-weight: 600;
        color: #394d55;
        margin-bottom: 10px;
        font-family: "Lora", sans-serif;
    }
    .card-text {
        font-size: 16px;
        font-family: "Courier New", Courier, monospace;
    }
}